# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local
