# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# Firebase & Sensitive Files
google-services.json
servicesAccountsKey.json
**/google-services.json
**/servicesAccountsKey.json
backend-server/servicesAccountsKey.json
android-app/app/google-services.json

# Large Files
*.zip
DeviceManager.zip
DeviceManager.apk
